@charset "UTF-8";
/*calendar for imhonet - test task*/
body{}

.wrapper{width: 95%;}
.b-calendar-imho{
	width: 100%;
	min-width: 940px;
}
.b-calendar-popup,
.b-calendar-imho .head{
	font-family: Arial,Verdana, Geneva,sans-serif;
}
.b-calendar-imho .headcell{
	display: inline-block;
	width: 20%;
	min-width: 186px;
	min-height: 1.3em;
	margin: 0 -1px 0 0;
	border: 1px solid #777;
	border-right: 0;
	text-align: center;
	font-weight: bold;
	background: #0079c7 /*url("gradient-bg.png")*/ repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#00bdfe), to(#0079c7));
	background: -webkit-linear-gradient(top, #00bdfe, #0079c7);
	background: -moz-linear-gradient(top, #00bdfe, #0079c7);
	background: -o-linear-gradient(top, #00bdfe, #0079c7);
	background: linear-gradient(top, #00bdfe, #0079c7);
	color: #fff;
}
.b-calendar-imho .headcell:last-child{margin-left:-1px;border-right: 1px solid #777;}
.b-calendar-imho .body{
	border-left: 1px solid #b9b9b9;
	font-family: Arial,Verdana, Geneva,sans-serif;
}
.b-calendar-imho .row{
	height: 194px;
}
	.b-calendar-popup,
	.b-calendar-imho .cell{
		position: relative;
		overflow: hidden;
		display: inline-block;
		width: 20%;
		min-width: 186px;
		min-height: 192px;
		margin: 0 -1px;
		border: 1px solid #b9b9b9;
		border-left: 1px solid transparent;
		border-top: 0;
	}
	.b-calendar-imho .cell,
	.b-calendar-imho .cell .dayMonthBlank,
	.b-calendar-imho .cell .meetings{
		background-color: transparent;
		transition: background-color 0.6s ease-out;
		-moz-transition: background-color 0.6s ease-out;  /* Firefox 4 */
		-webkit-transition: background-color 0.6s ease-out;  /* Safari and Chrome */
		-o-transition: background-color 0.6s ease-out;  /* Opera */
	}
	.b-calendar-imho .cell:hover,
	.b-calendar-imho .cell:hover .dayMonthBlank,
	.b-calendar-imho .cell:hover .meetings{background-color: #e6f3f8;}
		.b-calendar-popup .date,
		.b-calendar-imho .cell .dayMonth,
		.b-calendar-imho .cell .dayMonthBlank{
			float: right;
			text-align: right;
			min-width: 1em;
			margin: -2px 0 -2px -2em;
			padding: 2px 10px 0 7px;
			border-bottom-left-radius: 9px;
			font-size: 28px;
			font-weight: bold;
			background: rgba(255,255,255,0.38); /*rgba(224,224,255,0.48);*/
		}
		.b-calendar-imho .cell .dayMonthBlank{
			margin: 1px 0 0 -0.2em;
			padding: 0;
		}
		.b-calendar-imho .cell .dayMonth{
			position: relative;
		}
		.b-calendar-imho .cell .dayMonthBlank:before{content:"."; color:#fff}
		.b-calendar-popup .meetingsList,
		.b-calendar-imho .cell .meetingsList{
			height: 192px;
			overflow: auto;
		}
			.b-calendar-popup .meetingElem,
			.b-calendar-imho .cell .meetingsList .meetingElem{
				text-indent: 4px;
				padding: 0 4px 0;
			}
				.b-calendar-popup .meetingElem .meetingName,
				.b-calendar-imho .cell .meetingsList .meetingElem .meetingName{
					font-weight: bold;
				}
		.b-calendar-popup .meetingsList{
			height: 223px;
		}
		.b-calendar-popup >.meetings,
		.b-calendar-imho .cell .meetings{
			display: inline-block;
			position: absolute;
			min-height: 1.3em;
			bottom: 0;
			margin: -1.3em 0 0 1px;
			padding: 0.1em 0.2em 0.1em 7px;
			border-top-right-radius: 9px;
			background-color: rgba(255,255,255,0.88); /*rgba(224,224,255,0.88);*/
		}
		.b-calendar-popup >.meetings{
			bottom: 0;
			padding: 3px 4px 8px;
			background-color: #e6f5ee;
		}
			.b-calendar-imho .cell .meetings .meetingsNumber{
				font-weight: bold;
				font-size: 18px;
				color: #694;
			}
			.b-calendar-imho .cell .meetings .meetingsName{
				font-size: 12px;
				color: #75797e;
			}
.b-calendar-imho .footer .foot{
	position: relative;
	top:-2px;
	height: 1px;
	border-top: 1px solid #00beff;
	background-color: #4c4f58;
}
.b-calendar-popup-nooverflow{
	position: absolute;
	display: none;
}

.b-calendar-popup-nooverflow,
.b-calendar-popup{
	width: 380px;
	min-width: 340px;
	height: 250px;
	min-height: 250px;
	padding: 4px 0 4px 5px;
	border: 2px solid black;
		border-radius: 4px;
	background-color: #e6f5ee;
}
.b-calendar-popup-nooverflow{
	width: 388px;
	min-height: 264px;
	padding: 0; border: 0;
}
.b-calendar-popup-arrow-frame{
	position: absolute;
	z-index: 2;
	overflow: hidden;
	top:-17px;
	left: 166px;
	width: 43px;
	height: 19px;
}
.b-calendar-popup-arrow-frame .arrow{
	position: relative;
	width: 26px;
	height: 26px;
	left: 5px;
	top: 9px;
	border: 2px solid black;
	-webkit-transform: rotate(55deg)skew(20deg);
	-moz-transform: rotate(55deg)skew(20deg);
	-o-transform: rotate(55deg)skew(20deg);
	-ms-transform:rotate(55deg)skew(20deg);
	transform: rotate(55deg)skew(20deg);
	background-color: #e6f5ee;

}

.b-calendar-popup .sign{
	background: #ceb;
	background-image: -webkit-linear-gradient(top, #ceb, #a3d4c0);
	background-image: -moz-linear-gradient(top, #ceb, #a3d4c0);
	background-image: -ms-linear-gradient(top, #ceb, #a3d4c0);
	background-image: -o-linear-gradient(top, #ceb, #a3d4c0);
	background-image: linear-gradient(to bottom, #ceb, #a3d4c0);
	border-radius: 11px;
	color: white;
	font-size: 13px;
	padding: 4px 14px;
	text-decoration: none;
	cursor: default;
}
.b-calendar-popup .sign:hover{
	background: #a6e6c9;
	background-image: -webkit-linear-gradient(top, #a6e6c9, #83b39f);
	background-image: -moz-linear-gradient(top, #a6e6c9, #83b39f);
	background-image: -ms-linear-gradient(top, #a6e6c9, #83b39f);
	background-image: -o-linear-gradient(top, #a6e6c9, #83b39f);
	background-image: linear-gradient(to bottom, #a6e6c9, #83b39f);
	text-decoration: none;
}
.b-calendar-popup .sign.line{border-radius: 6px; padding: 0 6px 1px;}

.b-calendar-popup .date{
	margin: 3px 2px 0 0;
	padding: 2px 2px 0 2px;
	font-size: 16px;
	font-weight: bold;
}
.b-calendar-popup .assign{margin: 8px;
	font-size: 11px;}
	.b-calendar-popup .assign .assignName{font-weight: bold;}
	.b-calendar-popup .assign .meetings{font-weight: bold; color: #4b826d;}